<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>моя назва вкладки</title>
</head>

<body>

<h2>Шановний(а) {{name}}!</h2>

<p>Дякуємо за звернення до туристичної фірми.</p>

<p>Ваше замовлення успішно оформлено:</p>

<ul>
    <li>Напрямок: Карпати</li>
    <li>Дата поїздки: {{date}}</li>
    <li>Кількість осіб: {{persons}}</li>
</ul>

<p>Вартість туру:</p>
<ul>
    <li>Ціна за 1 особу: {{price_per_person}} грн</li>
    <li>Загальна вартість: {{total_price}} грн</li>
    <li>Знижка: {{discount}} грн</li>
</ul>

<p>До сплати: {{final_price}} грн</p>
<p>Бажаємо вам приємної подорожі та незабутніх вражень!</p>
<p>З повагою,<br>Туристична фірма "Мандри"</p>

</body>

</html>
